<?xml version='1.0' encoding='UTF-8'?>
<project>
  <description>backup jenkins config</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 4 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd / &amp;&amp; tar -cvzf /tmp/jenkins_data.tgz /var/jenkins_home
aws --region REPLACEME3 s3 cp /tmp/jenkins_data.tgz s3://REPLACEME1/REPLACEME2/jenkins_data.tgz
rm -f /tmp/jenkins_data.tgz</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
